.content {
    width: 65%;
    height: 60%;
    margin-top: 10px;
    display: flex;
    overflow: auto;
    background: white;
    opacity: 0.9;
    padding: 25px;
}

.map {
    margin-top: 15px;
    width: 550px;
    height: 300px
}
